# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Car-Game.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\Windows\Unity Projects\Car-Game\.idea\.idea.Car-Game\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
